
.pure-table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid black;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center
}

.pure-table td,.pure-table th {
    border-left: 1px solid rgb(0, 0, 0);
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

.pure-table thead {
    background-color:#9bc33e;
    border-bottom: 1px solid black;
    color: rgb(246, 244, 244);
    font-style: italic;
    text-align: left;
    vertical-align: bottom
}

.pure-table td {
    background-color:#e4eecc;
    border-bottom:  1px solid black;
    font-style: oblique;
}

.btn{
    background-color:#9bc33e;
}
.bg-danger{
    background-color: rgb(219, 85, 85);
    color: black;
}
